html, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
height: 100%
}

.wrapper{
  background-color: #95afba;
  color: #320;
  font-family: 'Permanent Marker', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.midden  {
  background-color: #655560;
  color: #d5e1a3;
  margin: 0 .5em;
  width: 300px;
  height: 300px;
}

.midden img {
  max-width: 100%;
}

.midden p, .midden h3 {
  padding: 1rem;
}
